<!DOCTYPE html>
<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <style>
            body {
                background-color: #ff8080;
            }
            #inicio 
            {
                background-color: white;  
            }
            h1 {
                background-color: white;
                color: red;
            }
            h2 {
                color: red
            }
            .centraliza
            {
                text-align: center; 
            }
        </style>
        <meta charset="UTF-8"/>
        <title>
            Quiz Ariella
        </title>

    </head>
    
    <body>

        <h1 class="centraliza">Ariella Moraes </h1>
        <div class="container-fluid">
            {% block conteudo %}
            {% endblock %}
        </div>

 

        
    </body>
    
</html>