<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: #ff8080;
            }
            #inicio 
            {
                background-color: white;  
            }
            h1 {
                background-color: white;
                color: red;
            }
            h2 {
                color: red
            }
            .centraliza
            {
                text-align: center; 
            }
        </style>
        <meta charset="UTF-8"/>
        <title>
            Quiz Ariella
        </title>

    </head>
    
    <body>

        <h1 class="centraliza">Ariella Moraes </h1>

        {% block conteudo %}

        {% endblock %}
 

        
    </body>
    
</html>